BODY {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 8pt;
	background-color: black;
	background-image: url(images/achtergrond1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	scrollbar-3d-light-color : black;
	scrollbar-arrow-color : white;
	scrollbar-base-color : black;
	scrollbar-track-color: black;
	scrollbar-dark-shadow-color : black;
	scrollbar-face-color : black;
	scrollbar-highlight-color : black;
	scrollbar-shadow-color : white;
}


A:link {color: #CCCCCC;
       text-decoration: none;}

A:href {color: #CCCCCC;
       text-decoration: none;}

A:Active {color: #CCCCCC;
       text-decoration: none;}

A:Hover {
	color: #CCCCCC;
	text-decoration: none;}

A:Visited {	color: #CCCCCC;
	text-decoration: none}

.quote {color: white;;
        text-decoration: italic;
        font-size: 8pt;}

.table {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 12pt;
}

.table1 {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 17pt;
   font-weight: bold; 
}

.table2 {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 10pt;
   }

.text {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 10pt;
}

h1{
	color: white;
	font-size: 10pt;
}

pre {
	color: white;
	font-family: "Korinna BT", Helvetica, sans-serif;
	font-size: 12pt;
}

.redbox {
    font-size: 12pt;
    padding: 1em;
    color: white;
    background-color: darkred;
}
